{% extends "layout.twig" %}

{% block content %}
    <h1>Test Results</h1>
    <p>Thanks, {{ username }}!</p>
    <p>You were right on {{ correctAnswersCount }} out of {{ totalQuestionsCount }} questions.</p>
{% endblock %}